<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/login" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/clients" href="#">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/repairs-list" href="#">Reparaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="logout()">Logout</a>
  </li>
</ul>

<hr>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<router-outlet></router-outlet>