<div class="container-lg my-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card border-0 shadow-lg">
          <div class="card-header bg-light text-dark text-center py-4">
            <h3 class="mb-0">Crear nuevo Cliente</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group mb-3">
                <label for="text" class="font-weight-bold">Nombre</label>
                <input type="text" class="form-control" id="text" name="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"  placeholder="Ingresar nombre." >
              </div>
              <div class="form-group mb-3">
                <label for="exampleFormControlTextarea1" class="font-weight-bold" >Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  placeholder="Ingresar correo." >
              </div>
              <div class="form-group mb-3">
                <label for="text" class="font-weight-bold">Teléfono </label>
                <input type="text" class="form-control" id="text" name="phone" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}"  placeholder="Ingresar telefono de contacto." >
              </div>

            </form>
            <div *ngIf="errorAlert.length>=1">
              <hr>
              <div class="alert alert-danger" role="alert">
                {{errorAlert}}
                </div>
            </div>
            <div *ngIf="alert.length>=1">
              <hr>
              <div class="alert alert-success" role="alert">
                {{alert}}
                </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" (click)="submitForm()">Crear</button>
          <div class="card-footer bg-light">
            <div class="row">
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>