<div class="container-fluid d-flex align-items-center justify-content-center bg-light" style="height: 100vh;">
    <div class="text-center">
      <h1 class="text-primary mb-4" style="font-size: 3rem; font-family: 'Montserrat', sans-serif;">Bienvenidos a la aplicación de reparaciones de teléfonos para la prueba técnica de Innpactia</h1>
      <p class="text-secondary mb-5" style="font-size: 1.5rem; font-family: 'Open Sans', sans-serif;">Aquí podrás gestionar las reparaciones de teléfonos para tus clientes de manera eficiente y rápida.</p>
      <a  class="btn btn-primary rounded-pill px-4 py-3" routerlink="/login" style="font-family: 'Open Sans', sans-serif;" href="/login" >Iniciar sesión</a>
    </div>
    <div class="mt-auto pb-3"></div>
  </div>